@use "../../foundation/variable" as *;

.c-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $red;
    border: 1px solid $red;
}

.c-top-section__title{
    text-align: center;
    font-size: 3rem;
    line-height: calc(50/30);
    font-weight: $bold;
    @include mq("md"){
        font-size: 2.5rem;
        line-height: calc(40/25);
    }
}

.c-tag{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
    color: $white;
    font-size: 1.5rem;
    line-height: calc(25/15);
    font-weight: $bold;
    padding-top: 0.1rem;
}

.c-blog-tag{
    width: 8rem;
    height: 3rem;
    @include mq("md"){
        width: 9rem;
    }
}

.c-blog-card__title{
    font-size: 2rem;
    line-height: calc(25/20);
    font-weight: $bold;
    @include mq("md"){
        line-height: calc(30/20);
    }
}

.c-result-tag{
    width: 10rem;
    height: 3rem;
}


// return-button
.c-return{
    position: fixed;
    bottom: 9.1rem;
    right: 11.6rem;
    width: 68px;
    height: 68px;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.502);
    cursor: pointer;
    transition: background-color 0.3s;
    @include mq("md"){
        right: 2rem;
        bottom: 7.8rem;
    }
}

@media (hover:hover){
    .c-return:hover{
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.c-return__button{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.c-return__button::before{
    background-image: url(../images/top-return-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 24px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

// contact-button
.c-contact{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30rem;
    height: 6rem;
    overflow: hidden;
    z-index: 1000;
    background-color: $red;
    cursor: pointer;
    transition: background-color 0.3s;
    @include mq("md"){
        right: 50%;
        transform: translateX(50%);
    }
}

.c-contact__button{
    position: relative;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
    font-size: 2rem;
    font-weight: $bold;
    letter-spacing: 0.2em;
}

@media (hover: hover){
    .c-contact__button:hover{
        background-color: $white;
        color: $red;
        opacity: 1;
    }
}

// sub-fv
.c-sub-fv{
    margin-top: hvw(80);
    position: relative;
    @include mq("md"){
        margin-top: 5rem;
    }
}

.c-sub-fv__contents{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.502); /* #505050 50.2%透過 */
}

.c-sub-fv__title{
    font-size: 2.5rem;
    line-height: calc(60/25);
    color: $white;
    font-weight: $bold;
    text-align: center;
}

// パンくずリスト
.c-breadcrumb{
    background-color: $gray-bread;
}

.c-breadcrumb__list{
    height: 5rem;
    display: flex;
    align-items: center;
    column-gap: 1.9rem;
    padding-top: 0.2rem;
    overflow-x: scroll;
    white-space: nowrap;
    @include mq("md"){
        height: 3.6rem;
    }
}

.c-breadcrumb__item{
    font-size: 1.6rem;
    font-weight: $medium;
}

.c-breadcrumb__link{
    color: $black;
}

.c-sub-page__title{
    font-size: 2.5rem;
    line-height: calc(38/25);
    font-weight: $bold;
    text-align: center;
}

.c-circle{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.c-color-black{
    background-color: $black;
}

.c-color-red{
    background-color: $red;
}